.reponseChampion {
    margin: 10px auto;
    width: 75%;
    box-shadow: 0px 0px 5px 2px black ;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.432);
    padding: 10px;
    border-radius: 5px;

}

div {
    width:5em;
    height:5em;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 0px 0px 5px 2px black;
	transition: background-color 0.3s;
}

.mauvaiseReponse {
    background-color: darkred;
}

.mauvaiseReponseUpperDate {
    background-image: url(images/Flecheplushaut.png);
    background-size: 5.4em 5.4em;
    background-repeat: no-repeat;
}

.mauvaiseReponseLowerDate {
    background-image:url(images/Flecheplusbas.png);
    background-size: 5.4em 5.4em;
    background-repeat: no-repeat;
}

.presqueReponse {
    background-color: darkgoldenrod;
}

.bonneReponse {
    background-color: green;
}

body {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/lol-background.jpg);
    background-size:  100%;
    
}

#propositionChampion {
    margin: 10px auto;
    border: solid 1px black;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 17, 100, 0.9);
    border-radius: 30px;
    box-shadow: 0px 0px 10px 4px black ;
}

label {
    font-size: 2em;
}

button {
    box-shadow: 0px 0px 15px 0px black ;
	background-color:#32165f98;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 15px;
	text-decoration:none;
	transition: background-color 0.3s;
}
button:hover {
    background-color: rgb(33, 18, 150);
	
}

input {
    width: 250px;
    height: 2em;
    font-size: 2em;
    text-align: center;
    border-radius: 20px;
}

p {
    text-align:center;
}

.Aatrox   {   background-image: url(images/Aatrox.jpg);   background-size:5.5em; }
.Ahri   {   background-image: url(images/Ahri.jpg);   background-size:5.5em; }
.Akali   {   background-image: url(images/Akali.jpg);   background-size:5.5em; }
.Akshan   {   background-image: url(images/Akshan.jpg);   background-size:5.5em; }
.Alistar   {   background-image: url(images/Alistar.jpg);   background-size:5.5em; }
.Amumu   {   background-image: url(images/Amumu.jpg);   background-size:5.5em; }
.Anivia   {   background-image: url(images/Anivia.jpg);   background-size:5.5em; }
.Annie   {   background-image: url(images/Annie.jpg);   background-size:5.5em; }
.Aphelios   {   background-image: url(images/Aphelios.jpg);   background-size:5.5em; }
.Ashe   {   background-image: url(images/Ashe.jpg);   background-size:5.5em; }
.AurelionSol   {   background-image: url(images/AurelionSol.jpg);   background-size:5.5em; }
.Azir   {   background-image: url(images/Azir.jpg);   background-size:5.5em; }
.Bard   {   background-image: url(images/Bard.jpg);   background-size:5.5em; }
.BelVeth   {   background-image: url(images/BelVeth.jpg);   background-size:5.5em; }
.Blitzcrank   {   background-image: url(images/Blitzcrank.jpg);   background-size:5.5em; }
.Brand   {   background-image: url(images/Brand.jpg);   background-size:5.5em; }
.Braum   {   background-image: url(images/Braum.jpg);   background-size:5.5em; }
.Caitlyn   {   background-image: url(images/Caitlyn.jpg);   background-size:5.5em; }
.Camille   {   background-image: url(images/Camille.jpg);   background-size:5.5em; }
.Cassiopeia   {   background-image: url(images/Cassiopeia.jpg);   background-size:5.5em; }
.ChoGath   {   background-image: url(images/ChoGath.jpg);   background-size:5.5em; }
.Corki   {   background-image: url(images/Corki.jpg);   background-size:5.5em; }
.Darius   {   background-image: url(images/Darius.jpg);   background-size:5.5em; }
.Diana   {   background-image: url(images/Diana.jpg);   background-size:5.5em; }
.DrMundo   {   background-image: url(images/DrMundo.jpg);   background-size:5.5em; }
.Draven   {   background-image: url(images/Draven.jpg);   background-size:5.5em; }
.Ekko   {   background-image: url(images/Ekko.jpg);   background-size:5.5em; }
.Elise   {   background-image: url(images/Elise.jpg);   background-size:5.5em; }
.Evelynn   {   background-image: url(images/Evelynn.jpg);   background-size:5.5em; }
.Ezreal   {   background-image: url(images/Ezreal.jpg);   background-size:5.5em; }
.Fiddlesticks   {   background-image: url(images/Fiddlesticks.jpg);   background-size:5.5em; }
.Fiora   {   background-image: url(images/Fiora.jpg);   background-size:5.5em; }
.Fizz   {   background-image: url(images/Fizz.jpg);   background-size:5.5em; }
.Galio   {   background-image: url(images/Galio.jpg);   background-size:5.5em; }
.Gangplank   {   background-image: url(images/Gangplank.jpg);   background-size:5.5em; }
.Garen   {   background-image: url(images/Garen.jpg);   background-size:5.5em; }
.Gnar   {   background-image: url(images/Gnar.jpg);   background-size:5.5em; }
.Gragas   {   background-image: url(images/Gragas.jpg);   background-size:5.5em; }
.Graves   {   background-image: url(images/Graves.jpg);   background-size:5.5em; }
.Gwen   {   background-image: url(images/Gwen.jpg);   background-size:5.5em; }
.Hecarim   {   background-image: url(images/Hecarim.jpg);   background-size:5.5em; }
.Heimerdinger   {   background-image: url(images/Heimerdinger.jpg);   background-size:5.5em; }
.Illaoi   {   background-image: url(images/Illaoi.jpg);   background-size:5.5em; }
.Irelia   {   background-image: url(images/Irelia.jpg);   background-size:5.5em; }
.Ivern   {   background-image: url(images/Ivern.jpg);   background-size:5.5em; }
.Janna   {   background-image: url(images/Janna.jpg);   background-size:5.5em; }
.JarvanIV   {   background-image: url(images/JarvanIV.jpg);   background-size:5.5em; }
.Jax   {   background-image: url(images/Jax.jpg);   background-size:5.5em; }
.Jayce   {   background-image: url(images/Jayce.jpg);   background-size:5.5em; }
.Jhin   {   background-image: url(images/Jhin.jpg);   background-size:5.5em; }
.Jinx   {   background-image: url(images/Jinx.jpg);   background-size:5.5em; }
.Kaisa   {   background-image: url(images/Kaisa.jpg);   background-size:5.5em; }
.Kalista   {   background-image: url(images/Kalista.jpg);   background-size:5.5em; }
.Karma   {   background-image: url(images/Karma.jpg);   background-size:5.5em; }
.Karthus   {   background-image: url(images/Karthus.jpg);   background-size:5.5em; }
.Kassadin   {   background-image: url(images/Kassadin.jpg);   background-size:5.5em; }
.Katarina   {   background-image: url(images/Katarina.jpg);   background-size:5.5em; }
.Kayle   {   background-image: url(images/Kayle.jpg);   background-size:5.5em; }
.Kayn   {   background-image: url(images/Kayn.jpg);   background-size:5.5em; }
.Kennen   {   background-image: url(images/Kennen.jpg);   background-size:5.5em; }
.KhaZix   {   background-image: url(images/KhaZix.jpg);   background-size:5.5em; }
.Kindred   {   background-image: url(images/Kindred.jpg);   background-size:5.5em; }
.Kled   {   background-image: url(images/Kled.jpg);   background-size:5.5em; }
.KogMaw   {   background-image: url(images/KogMaw.jpg);   background-size:5.5em; }
.KSante   {   background-image: url(images/KSante.jpg);   background-size:5.5em; }
.LeBlanc   {   background-image: url(images/LeBlanc.jpg);   background-size:5.5em; }
.LeeSin   {   background-image: url(images/LeeSin.jpg);   background-size:5.5em; }
.Leona   {   background-image: url(images/Leona.jpg);   background-size:5.5em; }
.Lillia   {   background-image: url(images/Lillia.jpg);   background-size:5.5em; }
.Lissandra   {   background-image: url(images/Lissandra.jpg);   background-size:5.5em; }
.Lucian   {   background-image: url(images/Lucian.jpg);   background-size:5.5em; }
.Lulu   {   background-image: url(images/Lulu.jpg);   background-size:5.5em; }
.Lux   {   background-image: url(images/Lux.jpg);   background-size:5.5em; }
.Malphite   {   background-image: url(images/Malphite.jpg);   background-size:5.5em; }
.Malzahar   {   background-image: url(images/Malzahar.jpg);   background-size:5.5em; }
.Maokai   {   background-image: url(images/Maokai.jpg);   background-size:5.5em; }
.MasterYi   {   background-image: url(images/MasterYi.jpg);   background-size:5.5em; }
.Milio   {   background-image: url(images/Milio.jpg);   background-size:5.5em; }
.MissFortune   {   background-image: url(images/MissFortune.jpg);   background-size:5.5em; }
.Mordekaiser   {   background-image: url(images/Mordekaiser.jpg);   background-size:5.5em; }
.Morgana   {   background-image: url(images/Morgana.jpg);   background-size:5.5em; }
.Nami   {   background-image: url(images/Nami.jpg);   background-size:5.5em; }
.Nasus   {   background-image: url(images/Nasus.jpg);   background-size:5.5em; }
.Nautilus   {   background-image: url(images/Nautilus.jpg);   background-size:5.5em; }
.Neeko   {   background-image: url(images/Neeko.jpg);   background-size:5.5em; }
.Nidalee   {   background-image: url(images/Nidalee.jpg);   background-size:5.5em; }
.Nilah   {   background-image: url(images/Nilah.jpg);   background-size:5.5em; }
.Nocturne   {   background-image: url(images/Nocturne.jpg);   background-size:5.5em; }
.NunuWillump   {   background-image: url(images/NunuWillump.jpg);   background-size:5.5em; }
.Olaf   {   background-image: url(images/Olaf.jpg);   background-size:5.5em; }
.Orianna   {   background-image: url(images/Orianna.jpg);   background-size:5.5em; }
.Ornn   {   background-image: url(images/Ornn.jpg);   background-size:5.5em; }
.Pantheon   {   background-image: url(images/Pantheon.jpg);   background-size:5.5em; }
.Poppy   {   background-image: url(images/Poppy.jpg);   background-size:5.5em; }
.Pyke   {   background-image: url(images/Pyke.jpg);   background-size:5.5em; }
.Qiyana   {   background-image: url(images/Qiyana.jpg);   background-size:5.5em; }
.Quinn   {   background-image: url(images/Quinn.jpg);   background-size:5.5em; }
.Rakan   {   background-image: url(images/Rakan.jpg);   background-size:5.5em; }
.Rammus   {   background-image: url(images/Rammus.jpg);   background-size:5.5em; }
.RekSai   {   background-image: url(images/RekSai.jpg);   background-size:5.5em; }
.Rell   {   background-image: url(images/Rell.jpg);   background-size:5.5em; }
.RenataGlasc   {   background-image: url(images/RenataGlasc.jpg);   background-size:5.5em; }
.Renekton   {   background-image: url(images/Renekton.jpg);   background-size:5.5em; }
.Rengar   {   background-image: url(images/Rengar.jpg);   background-size:5.5em; }
.Riven   {   background-image: url(images/Riven.jpg);   background-size:5.5em; }
.Rumble   {   background-image: url(images/Rumble.jpg);   background-size:5.5em; }
.Ryze   {   background-image: url(images/Ryze.jpg);   background-size:5.5em; }
.Samira   {   background-image: url(images/Samira.jpg);   background-size:5.5em; }
.Sejuani   {   background-image: url(images/Sejuani.jpg);   background-size:5.5em; }
.Senna   {   background-image: url(images/Senna.jpg);   background-size:5.5em; }
.Seraphine   {   background-image: url(images/Seraphine.jpg);   background-size:5.5em; }
.Sett   {   background-image: url(images/Sett.jpg);   background-size:5.5em; }
.Shaco   {   background-image: url(images/Shaco.jpg);   background-size:5.5em; }
.Shen   {   background-image: url(images/Shen.jpg);   background-size:5.5em; }
.Shyvana   {   background-image: url(images/Shyvana.jpg);   background-size:5.5em; }
.Singed   {   background-image: url(images/Singed.jpg);   background-size:5.5em; }
.Sion   {   background-image: url(images/Sion.jpg);   background-size:5.5em; }
.Sivir   {   background-image: url(images/Sivir.jpg);   background-size:5.5em; }
.Skarner   {   background-image: url(images/Skarner.jpg);   background-size:5.5em; }
.Sona   {   background-image: url(images/Sona.jpg);   background-size:5.5em; }
.Soraka   {   background-image: url(images/Soraka.jpg);   background-size:5.5em; }
.Swain   {   background-image: url(images/Swain.jpg);   background-size:5.5em; }
.Sylas   {   background-image: url(images/Sylas.jpg);   background-size:5.5em; }
.Syndra   {   background-image: url(images/Syndra.jpg);   background-size:5.5em; }
.TahmKench   {   background-image: url(images/TahmKench.jpg);   background-size:5.5em; }
.Taliyah   {   background-image: url(images/Taliyah.jpg);   background-size:5.5em; }
.Talon   {   background-image: url(images/Talon.jpg);   background-size:5.5em; }
.Taric   {   background-image: url(images/Taric.jpg);   background-size:5.5em; }
.Teemo   {   background-image: url(images/Teemo.jpg);   background-size:5.5em; }
.Thresh   {   background-image: url(images/Thresh.jpg);   background-size:5.5em; }
.Tristana   {   background-image: url(images/Tristana.jpg);   background-size:5.5em; }
.Trundle   {   background-image: url(images/Trundle.jpg);   background-size:5.5em; }
.Tryndamere   {   background-image: url(images/Tryndamere.jpg);   background-size:5.5em; }
.TwistedFate   {   background-image: url(images/TwistedFate.jpg);   background-size:5.5em; }
.Twitch   {   background-image: url(images/Twitch.jpg);   background-size:5.5em; }
.Udyr   {   background-image: url(images/Udyr.jpg);   background-size:5.5em; }
.Urgot   {   background-image: url(images/Urgot.jpg);   background-size:5.5em; }
.Varus   {   background-image: url(images/Varus.jpg);   background-size:5.5em; }
.Vayne   {   background-image: url(images/Vayne.jpg);   background-size:5.5em; }
.Veigar   {   background-image: url(images/Veigar.jpg);   background-size:5.5em; }
.VelKoz   {   background-image: url(images/VelKoz.jpg);   background-size:5.5em; }
.Vex   {   background-image: url(images/Vex.jpg);   background-size:5.5em; }
.Vi   {   background-image: url(images/Vi.jpg);   background-size:5.5em; }
.Viego   {   background-image: url(images/Viego.jpg);   background-size:5.5em; }
.Viktor   {   background-image: url(images/Viktor.jpg);   background-size:5.5em; }
.Vladimir   {   background-image: url(images/Vladimir.jpg);   background-size:5.5em; }
.Volibear   {   background-image: url(images/Volibear.jpg);   background-size:5.5em; }
.Warwick   {   background-image: url(images/Warwick.jpg);   background-size:5.5em; }
.Wukong   {   background-image: url(images/Wukong.jpg);   background-size:5.5em; }
.Xayah   {   background-image: url(images/Xayah.jpg);   background-size:5.5em; }
.Xerath   {   background-image: url(images/Xerath.jpg);   background-size:5.5em; }
.XinZhao   {   background-image: url(images/XinZhao.jpg);   background-size:5.5em; }
.Yasuo   {   background-image: url(images/Yasuo.jpg);   background-size:5.5em; }
.Yone   {   background-image: url(images/Yone.jpg);   background-size:5.5em; }
.Yorick   {   background-image: url(images/Yorick.jpg);   background-size:5.5em; }
.Yuumi   {   background-image: url(images/Yuumi.jpg);   background-size:5.5em; }
.Zac   {   background-image: url(images/Zac.jpg);   background-size:5.5em; }
.Zed   {   background-image: url(images/Zed.jpg);   background-size:5.5em; }
.Zeri   {   background-image: url(images/Zeri.jpg);   background-size:5.5em; }
.Ziggs   {   background-image: url(images/Ziggs.jpg);   background-size:5.5em; }
.Zilean   {   background-image: url(images/Zilean.jpg);   background-size:5.5em; }
.Zoe   {   background-image: url(images/Zoe.jpg);   background-size:5.5em; }
.Zyra   {   background-image: url(images/Zyra.jpg);   background-size:5.5em; }
